<%- include("partials/header")%>
    <form method="POST" action='/newUser'>
        <div class="container">
            <h3 style="text-align: center;">
                Student Information
                <small class="text-muted"> - Enter the information below to create a new student </small>
            </h3>
            <hr>
            <div class="mb-3">
                <label for="studentID" class="form-label">Student ID</label>
                <input type="text" class="form-control" id="studentID" name='studentID' placeholder="Student ID" required>
            </div>
            <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" class="form-control" id="first_name" name='firstName' placeholder="First Name" required>
            </div>
            <div class="mb-3">
                <label for="last-name" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="last_name" name='lastName' placeholder="Last Name" required>
            </div>
            <div class="mb-3">
                <label for="school-year" class="form-label">School Year</label>
                <input type="text" class="form-control" id="year" name='schoolYear' placeholder="School Year">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email" name='email' placeholder="Email Address">
            </div>
            <div>
                <button type="submit" class="btn btn-outline-info">Submit</button>
            </div>
        </div>
    </form>
    <%- include("partials/footer")%>