<%- include("partials/header")%>
    <div class="container">
        <h3 style="text-align: center;">
            View Grades
            <small class="text-muted"> - Select a student and view details of the average grade!</small>
        </h3>
        <hr>
        <div class="mb-3">
            <label for="studentListLabel" class="form-label">Students</label>
            <select class="form-control" name="studentList" id="studentList">
                <option disable selected value></option>
                <% if(studentData.length !=0){
                    var i = 1;
                    studentData.forEach(function(data){
                %>
                <option><%=data.firstName + ' ' + data.lastName %></option>
                <% }); %>
                <% } else { %>
                <option value="0"> No Data Found </option>
                <% } %>
            </select>
        </div>
    </div>
    <%- include("partials/footer")%>