<%- include("partials/header")%>
    <div class="container">
        <h3 style="text-align: center;">
            View Grades
            <small class="text-muted"> - Click the button to view the tables of the database!</small>
        </h3>
        <hr>
        <div>
            <button type="button" class="btn btn-outline-info" style="width: 100%;"><strong>View Student Grades DB</strong></button>
        </div>
    </div>
    <%- include("partials/footer")%>